streamlit==1.43.1
altair==5.5.0
blinker==1.9.0
cachetools==5.5.2
click==8.1.8
numpy==1.26.4
packaging==24.2
pandas==2.2.2
pillow==11.1.0
protobuf==4.25.6
pyarrow==18.1.0
requests==2.32.3
tenacity==9.0.0
toml==0.10.2
typing-extensions==4.12.2
watchdog==6.0.0
gitpython==3.1.44
pydeck==0.9.1
tornado==6.4.2
pandas-datareader==0.10.0
optuna==4.2.1
optuna-dashboard==0.17.0
cmdstanpy==1.2.5
prophet==1.1.6
scikit-learn==1.6.1
xgboost==2.1.4
nltk==3.8.1
pyngrok
tweepy==4.14.0
praw==7.6.0
matplotlib
tensorflow
seaborn
yfinance
polygon-api-client==1.14.4
